* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #1e2125;
  color: #ffffff;
  line-height: 1.6;
}

header {
  background-color: #f3deb9;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1e2125;
  color: #1e2125;
  position: relative;
}

header h1 {
  font-size: 24px;
}

nav {
  display: flex;
  color: #1e2125;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #1e2125;
  transition: color 0.3s;
}

nav a:hover {
  color: #00adb5;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: #e0e0e0;
  margin: 4px 0;
  transition: 0.4s;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 20px;
  text-align: left;
  flex-direction: row;
}

.hero img,
.me {
  margin-right: 20px;
  border-radius: 50%;
  height: auto;
  max-width: 300px;
  width: 100%;
}

h2 {
  font-size: 32px;
  text-align: center;
  padding-top: 80px;
  color: #f3deb9;
}

.hero p {
  font-size: 16px;
  color: #e9dfce;
  max-width: 600px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
  color: #e9dfce;
}

.projects {
  display: flex;
  justify-content: center;
  margin: 50px;
  gap: 20px;
  flex-wrap: wrap;
}

.project-card {
  background-color: white;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.project-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.project-info {
  padding: 15px;
}

.project-info h3 {
  margin: 0;
  color: #333;
}

.project-info p {
  color: #777;
  font-size: 14px;
}

/* Animasyon ve hover efekti */
.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}