* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #1e2125;
  color: #ffffff;
  line-height: 1.6;
}

header {
  background-color: #f3deb9;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1e2125;
  color: #1e2125;
  position: relative;
}

header h1 {
  font-size: 24px;
}

nav {
  display: flex;
  color: #1e2125;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #1e2125;
  transition: color 0.3s;
}

nav a:hover {
  color: #00adb5; /* Hover efekti ekledim */
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: #e0e0e0;
  margin: 4px 0;
  transition: 0.4s;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 20px;
  text-align: left;
}

.hero img {
  margin-right: 20px;
  border-radius: 50%; /* Resmin kenarlarını yuvarlatmak için */
  height: auto;
  max-width: 300px; /* Resmin genişliğini sınırlamak için */
}

h2 {
  font-size: 32px;
  text-align: center;
  padding-top: 80px;
  color: #e9dfce;
}

.hero p {
  font-size: 16px;
  color: #e9dfce;
  max-width: 600px; /* Yazının genişliğini sınırlamak için */
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.project-card {
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  transition: transform 0.3s;
}

.line {
  display: block;
  opacity: 0;
  transform: translateY(20px); /* Yazı başlangıçta aşağı kaymış olarak görünmeli */
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.line.visible {
  opacity: 1;
  transform: translateY(0); /* Kaydırma tamamlandığında yazı yukarı gelir */
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card h3 {
  margin-bottom: 10px;
  color: #00adb5;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
  color: #e9dfce;
}

/* Mobil için menüyü gizle */
@media (max-width: 768px) {
  nav {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      right: 20px;
      background-color: #2c2c2c;
      padding: 10px;
      border-radius: 10px;
      z-index: 1000;
  }

  nav.show {
      display: flex;
  }

  .menu-toggle {
      display: flex;
  }

  .hero {
      flex-direction: column;
      text-align: center; /* Mobilde yazı ortalanacak */
  }

  .hero img {
      margin-right: 0;
      margin-bottom: 20px;
  }

  /* Yazıların kaydırma ile görünmesini sağla */
  .hero .line {
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.6s ease, transform 0.6s ease;
  }

  .hero .line.visible {
      opacity: 1;
      transform: translateY(0);
  }
}