html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #1e2125;
    font-family: "Noto Serif Tamil", serif;
    color: #1e2125;
  }

  .form-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-form {
    background-color: #f3deb9;
    color: #1e2125;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  .contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .contact-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: #1e2125;
    border: none;
    color: #fff;
    border-radius: 5px;
  }

  .contact-form textarea {
    resize: vertical;
    min-height: 100px;
  }

  .contact-form button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #1e2125;
    color: #f3deb9;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }

  .contact-form button:hover {
    background-color: #3b4047;
    color: #f3deb9;
  }
