@media (max-width: 768px) {
  * {
    box-sizing: border-box;
    max-width: 100% !important;  /* Eklendi */
  }

  html, body {
    height: 100% !important;     /* Eklendi */
    margin: 0 !important;        /* Eklendi */
    padding: 0 !important;       /* Eklendi */
  }

  body {
    display: flex !important;               /* Eklendi */
    flex-direction: column !important;      /* Eklendi */
  }

  main {
    flex: 1 !important;                     /* Eklendi */
  }

  header {
    background-color: #f3deb9;
    padding: 15px 20px;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1e2125;
    color: #1e2125;
    position: relative;
  }

  .menu-toggle {
    display: block !important;
    cursor: pointer;
  }

  .menu-toggle span {
    display: block !important;
    width: 25px !important;
    height: 3px !important;
    margin: 4px 0 !important;
  }

  nav {
    display: none !important;
    flex-direction: row !important;
    position: absolute !important;
    top: 80% !important;
    left: 0 !important;
    width: 100% !important;
    background-color: #f3deb9 !important;
    z-index: 1000 !important;
  }

  nav.active {
    display: flex !important;
  }

  nav a {
    padding: 1px !important;
    text-align: center !important;
    text-decoration: none !important;
    color: #1e2125 !important;
    font-size: 16px !important;
    flex: 1 !important;
  }

  nav a:last-child {
    border-right: none !important;
  }

  .hero {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
  }

  .me {
    display: block !important;
    width: 75% !important;
    max-width: 300px !important;
    height: auto !important;
    margin: 0 auto !important;
  }

  .animated-text {
    font-size: 16px !important;
    padding: 10px !important;
  }

  .dropdown-btn {
    font-size: 14px !important;
    display: flex;
    justify-content: flex-start;
  }
  .mobile-section {
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero-section {
    background-color: #1e2125;
  }

  .about-section {
    background-color: #1e2125;
  }

}