@media (max-width: 600px) {
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

header {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: #f3deb9; /* veya istediğin renk */
}

  header h1 {
    font-size: 1.5rem;
  }

  nav {
    display: block;
  }
  nav a {
    text-decoration: none;
    color: #1e2125;
    transition: color 0.3s;
  }
  
  .language-switcher {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }

  h2 {
    font-size: 1.6rem;
    text-align: center;
    margin: 20px 0 10px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  .me {
    width: 80%;
    max-width: 300px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-bottom: 30px;
  }

  .arrow {
    width: 30px;
    height: 30px;
    border-bottom: 3px solid #333;
    border-right: 3px solid #333;
    transform: rotate(45deg);
    animation: bounce 1.5s infinite;
    margin-bottom: 10px;
  }

  @keyframes bounce {
    0%, 100% { transform: translateY(0) rotate(45deg); }
    50% { transform: translateY(10px) rotate(45deg); }
  }

  .animated-text {
    display: none; /* Başlangıçta gizli */
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: opacity 0.6s ease, max-height 0.6s ease;
  }
  
  .animated-text.visible {
    display: block; /* Görünür olduğunda */
    opacity: 1;
    
  }
  .line {
    display: block;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  .line.visible {
    opacity: 1;
    transform: translateY(0);
  }

  footer {
    font-size: 0.8rem;
    text-align: center;
    padding: 10px;
  }
}
