.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .project-card {
    margin-top: 50px;
    background-color: #f3deb9;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    color: #1e2125;
    border-radius: 10px;
    box-shadow: 0 2px 8px #f3deb9;
    transition: transform 0.3s;
  }

  .project-card:hover {
    transform: translateY(-5px);
    background-color: #f3deb9;
  }
  
  .project-card h3 {
    margin-bottom: 10px;
    color: #1e2125;
  }
