* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #1e2125;
  color: #ffffff;
  line-height: 1.6;
}

header {
  background-color: #f3deb9;
  padding: 20px;
  display: fixed;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1e2125;
  color: #1e2125;
  position: relative;
}

nav {
  display: flex;
  color: #1e2125;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #1e2125;
  transition: color 0.3s;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: #e0e0e0;
  margin: 4px 0;
  transition: 0.4s;
}

h2 {
  font-size: 32px;
  text-align: center;
  padding-top: 80px;
  color: #f3deb9;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
  color: #e9dfce;
}

.language-switcher {
  position: fixed;
  top: 120px;
  left: 10px;
  padding-top: 20px;
  padding-left: 20px;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: #3b4047;
  color: #e9dfce;
  font-family: 'Poppins', sans-serif;
  border: none;
  padding: 5px 5px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.dropdown-btn:hover {
  background-color: #f3deb9;
  color: #3b4047;
}

.dropdown-content {
  display: none;
  font-size: 12px;
  position: center;
  background-color: #3b4047;
  min-width: 40px;
  margin: auto;
  min-height: 1px;
  z-index: 1;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: #e9dfce;
  padding: 5px 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f3deb9;
  color: #3b4047;
}

.custom-dropdown:hover .dropdown-content {
  display: block;
}
