* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}

html, body {
  height: 100%; /* Sayfa yüksekliğini tam olarak kapsar */
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e2125;
  color: rgb(255, 245, 233);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  font-family: "Noto Serif Tamil", serif;
}
body.arabic {
  font-family: "Noto Kufi Arabic", sans-serif;
  direction: rtl;
  text-align: right;
}

header {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f3deb9;
  position: relative;
  border-bottom: 3px solid #f3deb9;
}

nav {
  display: flex;
  color: #f3deb9;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #f3deb9;
  transition: color 0.3s;
}
nav a:hover {
  transform: scale(1.1);
}

.hamburger {
  display: none;
  font-size: 30px;
  padding: 15px;
  cursor: pointer;
  z-index: 1001;
}

h2 {
  font-size: 32px;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 20px;
  color: #f3deb9;
}

footer {
  text-align: center;
  padding: 10px 0;
  color: #ffedcf;
  width: 100%;
  position: relative;
  margin-top: auto;
  border-top: 3px solid #f3deb9;
}

.language-switcher {
  position: absolute;
  top: 90px;
  left: 20px;
  padding-top: 20px;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: #3b4047;
  color: #e9dfce;
  border: none;
  padding: 5px 5px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.dropdown-btn:hover {
  background-color: #f3deb9;
  color: #3b4047;
}

.dropdown-content {
  display: none;
  font-size: 12px;
  position: absolute;
  background-color: #3b4047;
  min-width: 40px;
  margin: auto;
  z-index: 1;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.dropdown-content a {
  color: #e9dfce;
  padding: 5px 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f3deb9;
  color: #3b4047;
  border-radius: 15px;
}

.custom-dropdown:hover .dropdown-content {
  display: block;
}
