@media (max-width: 600px) {
  /* Hero resmi mobilde yuvarlak ve ortalanmış */
  .hero img {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid #f3deb9;
    object-fit: cover;
    object-position: 0% 35%;
  }
  

  /* Aşağı ok animasyonu */
  .arrow {
    margin: 50px auto 10px auto;
    width: 30px;
    height: 30px;
    border-bottom: 3px solid #f3deb9;
    border-right: 3px solid #f3deb9;
    transform: rotate(45deg);
    animation: bounce 1.5s infinite;
  }
  
  /* Sosyal medya simgeleri */
  .social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0 50px;
  }

  .social-icon img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
  }

  .social-icon img:hover {
    transform: scale(1.5);
  }
  
  #nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9); /* Arka plan kararması */
    z-index: 9999;
    display: flex;
    flex-direction: column; /* Bağlantıları dikey hizala */
    align-items: center; /* Bağlantıları ortala */
    justify-content: center; /* Ortada hizala */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }

  #nav.active {
    opacity: 1;
    visibility: visible;
  }

  .hamburger {
    display: block;
    position: relative;
    right: 1px;
    color: #f3deb9;
    font-size: 30px;
    cursor: pointer;
    z-index: 1000;
  }
  #nav.arabic .hamburger {
  right: auto; /* Sağdan otomatik olarak kaldır */
  left: 10px;  /* Solda 10px mesafe bırak */
}

  #nav a {
    display: block; /* Bağlantıları dikey olarak yerleştir */
    width: 100%; /* Bağlantılar menünün tam genişliğini kapsar */
    color: #f3deb9;
    font-size: 24px;
    text-decoration: none;
    margin: 20px 0; /* Bağlantılar arasında boşluk bırak */
    text-align: center; /* Bağlantıları yatayda ortala */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
  }

  #nav.active a {
    opacity: 1;
    transform: translateY(0);
  }

  #nav.active .menu-links a {
    opacity: 1;
    transform: translateY(0);
  }
}
